{% extends 'negocio/menuDespachoPedidos.html' %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block content %}

    <div class="container mt-5">
        <!-- Sección de Bienvenida -->
        <div class="card text-center">
            <div class="card-header {{color_scheme.color_secundario}}  {{color_scheme.color_texto_secundario}}">
                <h2>¡Bienvenido al Sistema, <span>{{usuario.nombre_usuario}}</span>!</h2>
            </div>
        </div>

        <!-- Sección de Información -->
        <div class="card mt-4">
            <div class="card-header {{color_scheme.color_secundario}}  {{color_scheme.color_texto_secundario}}">
                <h3>Información Importante</h3>
            </div>
            <div class="card-body">
                <p>Recuerda que nuestro sistema está diseñado para:</p>
                <ul>
                    <li>Gestionar la asignacion de los pedidos.</li>
                    <li>Facilitar la administración de los pedidos conociendo si estan asignados o pendientes.</li>
                    <li>Actualizar informacion personal de manera sencilla.</li>
                </ul>
                <p>Si tienes alguna duda, no dudes en contactarnos a través de nuestro centro de ayuda.</p>
                <a href="{% url 'soporte'%}" class="btn {{color_scheme.color_secundario}}  {{color_scheme.color_texto_secundario}}">Más Información</a>
            </div>
        </div>
    </div>
{% endblock %}
