{% extends template %}
{% load static %}
{% block title %} Soporte y ayuda {% endblock %}
{% block content %}
<div class="container my-5">
    <h2 class="text-center">Preguntas Frecuentes</h2>
    <br>
    <div class="faq"></div>
    <div class="row justify-content-center">
        <div class="faq-item col-md-5 card p-4 m-2">
            <h3>¿Cómo puedo restablecer mi contraseña?</h3>
            <p>Puedes restablecer tu contraseña haciendo clic en "Olvidaste tu contraseña" en la página de inicio de sesión
                y siguiendo las instrucciones.</p>
        </div>
        <div class="faq-item col-md-5 card p-4 m-2">
            <h3>¿Cómo configurar mis preferencias?</h3>
            <p>Puedes personalizar tus preferencias desde la sección "Informacion Personal" opcion "Preferencias" en el menú principal.</p>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="faq-item col-md-5 card p-4 m-2">
            <h3>¿Cómo puedo contactar al soporte técnico?</h3>
            <p>Puedes contactar al soporte técnico enviando un correo electrónico a soporte@example.com.</p>
        </div>
        <div class="faq-item col-md-5 card p-4 m-2">
            <h3>¿Cuál es el horario de atención del soporte técnico?</h3>
            <p>El soporte técnico está disponible de lunes a viernes, de 9:00 AM a 6:00 PM.</p>
        </div>
    </div>

    <br>
    <h2 class="text-center">Contacta a los Administradores</h2>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-5 card p-4 m-2">
            <h3>Gerente Administrador</h3>
            <p>Nombre: Ulises Ismael Mejía Morales</p>
            <p>Correo: mm21011@ues.edu.sv</p>
            <a class="btn btn-dark btn-sm" style="width: 150px;" href="mailto:mm21011@gmail.com">Enviar correo</a>

        </div>
        <div class="col-md-5 card p-4 m-2">
            <h3>Gerente Administrador De Repartidores</h3>
            <p>Nombre: José Eduardo Ramos Alvarado</p>
            <p>Correo: ra20073@ues.edu.sv</p>
            <a class="btn btn-dark btn-sm" style="width: 150px;" href="mailto:ra20073@ues.edu.sv">Enviar Correo</a>
        </div>
        <div class="col-md-5 card p-4 m-2">
            <h3>Gerente Administrador De Pedidos</h3>
            <p>Nombre: Juan Carlos Cabrera García</p>
            <p>Correo: cg20055@ues.edu.sv</p>
            <a class="btn btn-dark btn-sm" style="width: 150px;" href="mailto:cg20055@ues.edu.sv">Enviar Correo</a>
        </div>
        <div class="col-md-5 card p-4 m-2">
            <h3>Gerente Administrador De Menus</h3>
            <p>Nombre: Nuria Lissbeth González Martínez</p>
            <p>Correo: gm18038@ues.edu.sv</p>
            <a class="btn btn-dark btn-sm" style="width: 150px;" href="mailto:gm18038@ues.edu.sv">Enviar Correo</a>
        </div>
        <div class="col-md-5 card p-4 m-2">
            <h3>Gerente Administrador De Pedidos</h3>
            <p>Nombre: Erick Gabriel Girón Alvarenga</p>
            <p>Correo: ga21090@ues.edu.sv</p>
            <a class="btn btn-dark btn-sm" style="width: 150px;" href="mailto:ga21090@ues.edu.sv">Enviar Correo</a>
            
        </div>
        <div class="col-md-5 card p-4 m-2">
            <h3>Gerente Administrador De Despachos</h3>
            <p>Nombre: Johana Estefany Rivas Cisneros</p>
            <p>Correo: rc17075@ues.edu.sv</p>
            <a class="btn btn-dark btn-sm" style="width: 150px;"  href="mailto:rc17075@ues.edu.sv">Enviar Correo</a>
        </div>
        <div class="col-md-5 card p-4 m-2">
            <h3>Gerente Administrador de Despachos</h3>
            <p>Nombre: Gustavo Alejandro Sánchez Chávez</p>
            <p>Correo: sc21034@ues.edu.sv</p>
            <a class="btn btn-dark btn-sm" style="width: 150px;" href="mailto:sc21034@ues.edu.sv">Enviar Correo</a>
        </div>
    </div>
</div>


{% endblock %}